@font-face {
  font-family: 'Nexa';
  src: url('nexaregular.woff2') format('woff2');
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('nexalight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('nexabold.woff2') format('woff2');
  font-weight: 600 800;
  font-style: normal;
  font-display: swap;
}
